@media(prefers-color-scheme: dark) {
    :root {
        --primary-color: #FFFFFF;
        --secondary-color: #313131;
    }

    .header__nav-img::before {
        content: url('../images/LogoLight.png');
    }

    body {
        background: #313131;
    }

    .header__nav-bckg {
        background: #0C0C0C;
    }

    .header__nav-link {
        color: var(--primary-color) !important;
    }

    .header__nav-cart::before,
    .header__nav-log::before,
    .header__nav-tel::before,
    .header__nav-drop::before {
        color: var(--primary-color);
    }

    .header__slider-img {
        background: radial-gradient(29.86% 47.86% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .header__search-form {
        background: var(--secondary-color);
    }

    .header__search-btn {
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid white;
        border-left: none;
    }

    .header__search-icon::before {
        background: var(--secondary-color);
        color: var(--primary-color);
    }

    .main__iphone-icon::before {
        color: var(--primary-color);
    }

    .form-control [placeholder] {
        color: var(--primary-color);
    }

    input[type="search"]::-webkit-input-placeholder {
        color: var(--primary-color);
    }

    .form-control:focus {
        background: var(--secondary-color);
        color: var(--primary-color);
        box-shadow: none;
        border-color: var(--primary-color);
    }

    .header__slider-title {
        color: var(--primary-color);
    }

    .header__slider-link {
        color: var(--primary-color);
        background: none;
        border: 1px solid white;
    }

    .header__nav-droplink {
        color: var(--primary-color);
        background: var(--secondary-color);
    }

    .dropdown-menu {
        background: var(--secondary-color);
    }

    .dropdown-divider {
        color: var(--primary-color);
        opacity: 1;
    }

    .header__nav-link:hover {
        color: var(--primary-color);
    }

    .main__content-percent {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }  

    .main__content-title {
        color: var(--secondary-color);
    }

    .main__content-price {
        color: var(--secondary-color);
    }

    .main__button {
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid white;
    }

    .main__button:hover {
        color: var(--primary-color);
    }

    .main__iphone-img {
        background: radial-gradient(45% 10% at 51% 68%, rgba(255, 255, 255, 0.2) 47%, rgba(49, 49, 49, 0) 100%)
    }
    
    .main__iphone-info {
        box-shadow: none;
    }

    .main__iphone-info:hover {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    .main__ps5-img::before {
        content: url('../images/PalyStationLight.png');
    }

    .main__ps5-link {
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid white;
    }

    .main__ps5-link:hover {
        color: var(--primary-color);
    }

    .main__iphone-link {
        color: var(--primary-color);
        background: var(--secondary-color);
        border: 1px solid white;
    }

    .main__iphone-link:hover {
        color: var(--primary-color);
    }
}